
joblib==1.2.0
pyasn1==0.4.8
urllib3==1.24.3
httplib2==0.17.4
pytest==3.6.4
pytz==2022.6
traitlets==5.1.1
seglearn==1.2.5
msgpack==1.0.4
threadpoolctl==3.1.0
ta==0.10.2
chardet==3.0.4
uritemplate==3.0.1
ipykernel==5.3.4
fsspec==2022.10.0
pickleshare==0.7.5
psutil==5.4.8
tblib==1.7.0
cloudpickle==1.5.0
wrapt==1.14.1
ptyprocess==0.7.0
py==1.11.0
xarray==0.20.2
scipy==1.7.3
astor==0.8.1
jax==0.3.23
multitasking==0.0.11
six==1.15.0
pyarrow==6.0.1
tensorflow==2.9.2
matplotlib==3.2.2
plotly==5.5.0
gast==0.4.0
cython==0.29.32
pluggy==0.7.1
rsa==4.9
requests==2.28.1
markupsafe==2.0.1
zipp==3.10.0
jinja2==2.11.3
pandas==1.3.5
etils==0.9.0
tensorflow==2.7.0+zzzcolab20220506150900
dask==2022.2.0
flatbuffers==1.12
packaging==21.3
statsmodels==0.12.2
termcolor==2.1.0
cffi==1.15.1
cftime==1.6.2
keras==2.9.0
jaxlib==0.3.22+cuda11.cudnn805
fastrlock==0.8.1
xgboost==0.90
tensorboard==2.9.1
keras==2.7.0
wcwidth==0.2.5
oauth2client==4.1.3
sortedcontainers==2.4.0
tornado==6.0.4
atomicwrites==1.4.1
numexpr==2.8.4
idna==2.10
click==7.1.2
appdirs==1.4.4
cycler==0.11.0
torch==1.12.1+cu113
google==2.0.3
debugpy==1.0.0
seaborn==0.11.2
backcall==0.2.0
decorator==4.4.2
certifi==2022.9.24
distributed==2022.2.0
pyparsing==3.0.9
kiwisolver==1.4.4
toolz==0.12.0
numpy==1.21.6
dill==0.3.6
requests==2.23.0
yfinance==0.1.87
pygments==2.6.1
patsy==0.5.3
h5py==3.1.0
ipywidgets==7.7.1
pexpect==4.8.0
pathlib==1.0.1
portpicker==1.3.9
tqdm==4.64.1
astunparse==1.6.3
