matplotlib==3.2.2tensorboard==2.9.1jax==0.3.23six==1.15.0tqdm==4.64.1dill==0.3.6ipykernel==5.3.4wcwidth==0.2.5numpy==1.21.6urllib3==1.24.3cloudpickle==1.5.0numexpr==2.8.4joblib==1.2.0xgboost==0.90idna==2.10httplib2==0.17.4debugpy==1.0.0pyarrow==6.0.1ta==0.10.2gast==0.4.0decorator==4.4.2scipy==1.7.3statsmodels==0.12.2astunparse==1.6.3cycler==0.11.0flatbuffers==1.12psutil==5.4.8cffi==1.15.1portpicker==1.3.9chardet==3.0.4traitlets==5.1.1google==2.0.3termcolor==2.1.0tblib==1.7.0certifi==2022.9.24requests==2.23.0wrapt==1.14.1uritemplate==3.0.1astor==0.8.1oauth2client==4.1.3ipywidgets==7.7.1pathlib==1.0.1kiwisolver==1.4.4tensorflow==2.7.0+zzzcolab20220506150900threadpoolctl==3.1.0ptyprocess==0.7.0pyasn1==0.4.8torch==1.12.1+cu113jaxlib==0.3.22+cuda11.cudnn805packaging==21.3seaborn==0.11.2fsspec==2022.10.0pickleshare==0.7.5etils==0.9.0backcall==0.2.0keras==2.7.0tornado==6.0.4zipp==3.10.0pytz==2022.6pandas==1.3.5pyparsing==3.0.9rsa==4.9pexpect==4.8.0h5py==3.1.0pygments==2.6.1

pickleshare==0.7.5httplib2==0.17.4tornado==6.0.4pexpect==4.8.0six==1.15.0astor==0.8.1pyparsing==3.0.9numpy==1.21.6google==2.0.3ptyprocess==0.7.0cffi==1.15.1debugpy==1.0.0ipykernel==5.3.4matplotlib==3.2.2decorator==4.4.2portpicker==1.3.9backcall==0.2.0wcwidth==0.2.5certifi==2022.9.24pathlib==1.0.1traitlets==5.1.1kiwisolver==1.4.4pygments==2.6.1psutil==5.4.8cycler==0.11.0

matplotlib==3.2.2httplib2==0.17.4pyparsing==3.0.9ta==0.10.2seglearn==1.2.5seaborn==0.11.2astunparse==1.6.3idna==2.10oauth2client==4.1.3decorator==4.4.2pathlib==1.0.1requests==2.23.0pygments==2.6.1packaging==21.3cffi==1.15.1etils==0.9.0tblib==1.7.0threadpoolctl==3.1.0astor==0.8.1google==2.0.3numexpr==2.8.4kiwisolver==1.4.4pandas==1.3.5jedi==0.18.1pickleshare==0.7.5cycler==0.11.0pytz==2022.6cloudpickle==1.5.0pyasn1==0.4.8tornado==6.0.4pexpect==4.8.0numpy==1.21.6uritemplate==3.0.1termcolor==2.1.0statsmodels==0.12.2ipykernel==5.3.4portpicker==1.3.9parso==0.8.3traitlets==5.1.1chardet==3.0.4flatbuffers==1.12backcall==0.2.0dill==0.3.6rsa==4.9debugpy==1.0.0zipp==3.10.0scipy==1.7.3ipywidgets==7.7.1six==1.15.0gast==0.4.0certifi==2022.9.24keras==2.9.0jaxlib==0.3.22+cuda11.cudnn805tensorflow==2.9.2wcwidth==0.2.5urllib3==1.24.3pyarrow==6.0.1jax==0.3.23ptyprocess==0.7.0wrapt==1.14.1joblib==1.2.0tensorboard==2.9.1psutil==5.4.8fsspec==2022.10.0h5py==3.1.0

pyparsing==3.0.9ipykernel==5.3.4ptyprocess==0.7.0portpicker==1.3.9cffi==1.15.1astor==0.8.1decorator==4.4.2numpy==1.21.6httplib2==0.17.4traitlets==5.1.1certifi==2022.9.24six==1.15.0pathlib==1.0.1cycler==0.11.0google==2.0.3pygments==2.6.1pickleshare==0.7.5tornado==6.0.4psutil==5.4.8debugpy==1.0.0backcall==0.2.0kiwisolver==1.4.4matplotlib==3.2.2pexpect==4.8.0wcwidth==0.2.5

debugpy==1.0.0matplotlib==3.2.2pyparsing==3.0.9astor==0.8.1httplib2==0.17.4pexpect==4.8.0backcall==0.2.0wcwidth==0.2.5cycler==0.11.0ipykernel==5.3.4portpicker==1.3.9tornado==6.0.4traitlets==5.1.1psutil==5.4.8pickleshare==0.7.5six==1.15.0pathlib==1.0.1certifi==2022.9.24ptyprocess==0.7.0numpy==1.21.6pygments==2.6.1kiwisolver==1.4.4cffi==1.15.1decorator==4.4.2google==2.0.3

wcwidth==0.2.5pexpect==4.8.0traitlets==5.1.1astor==0.8.1backcall==0.2.0certifi==2022.9.24debugpy==1.0.0pyparsing==3.0.9pickleshare==0.7.5matplotlib==3.2.2httplib2==0.17.4ipykernel==5.3.4portpicker==1.3.9pygments==2.6.1kiwisolver==1.4.4cycler==0.11.0google==2.0.3decorator==4.4.2numpy==1.21.6cffi==1.15.1psutil==5.4.8pathlib==1.0.1six==1.15.0tornado==6.0.4ptyprocess==0.7.0